@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
  
body {
    background-color: white;
}

body {
    background-image: url("GalleryPic.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 800px 800px;
    margin: auto;
}

#navcontainer {
  display: flex;
  align-items: flex-start;
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.logo {
  width: 10px;
  height: 10px;
}

li {
  list-style: none;
  letter-spacing: 2px;
  font-size: 10px;
}

.navbar ol {
  display: flex;
  padding-left: 450px;
  padding-top: 20px;
  gap: 25px;
}

.navbar ol :hover {
  text-decoration: underline;
}

.search {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 10px;
  padding-left: 280px;
  padding-top: 24px;
}

.search :hover {
  text-decoration: underline;
}

.contact {
  color: black;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 10px;
  padding-left: 40px;
  padding-top: 24px;
}

.contact :hover {
  text-decoration: underline;
}

.artistname {
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 190px;
  padding-left: 100px;
  }

.time {
  font-size: 10px;
  text-decoration: none; 
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  padding-left: 100px;
  padding-bottom: 230px;
  }

.locations {
  font-size: 10px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  gap: 5px;
  padding-left: 50px;
}




